<div class="module">
  <h1 class="module__title">{{module.name}}</h1>
  <p class="module__author">{{module.teacher}}</p>
  <div class="modify">
    <p class="module__description">{{module.description}}</p>
    <ng-container *ngTemplateOutlet="modify;context:{item: module, type:'module'}"></ng-container>
  </div>
  <ul class="module__lessons">
    <li class="lesson" *ngFor="let lesson of module.lessons, let i = index">
      <div class="modify">
        <h2 class="lesson__title">{{lesson.nr}}. {{lesson.title}}</h2>
        <ng-container *ngTemplateOutlet="modify;context:{item: lesson, type:'lesson'}"></ng-container>
      </div>
      <p class="lesson__description">{{lesson.description}}</p>
      <ul class="lesson_attachments">
        <li class="attachment" *ngFor="let attachment of lesson.attachments">
          <div class="modify">
            <a class="attachment__link" [href]="attachment.link">{{attachment.name}}</a>
            <ng-container *ngTemplateOutlet="modify;context:{item: attachment, type:'attachment'}"></ng-container>
          </div>
        </li>
      </ul>
      <app-info></app-info>
    </li>
  </ul>
</div>
<!-- Modify template -->
<ng-template #modify let-item="item" let-type="type" let-inputs="item.context.inputs"
  let-submitText="item.context.submitText" let-type="item.context.type">
  <img class="modify__icon" src="assets/pen.svg" (click)="setForm(item, type)" alt="">
</ng-template>
<app-popup>
  <app-form [inputs]="inputs" [submitText]="submitText" (formSubmit)="onSubmit($event)">
  </app-form>
</app-popup>