.stack {
  margin: 5px;
  display: flex;

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 25px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    li {
      position: relative;
      font-size: 10px;
      line-height: 1;
      font-weight: 500;
      color: #c5c5c5;

      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
  }

  .container {
    width: 230px;
    display: flex;
    padding: 0;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      &__heading {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;

        &_grey {
          color: #c5c5c5;
        }
      }


    }

    &__list {
      list-style-type: none;
      flex: 1;
      padding: 0;
      margin: 0;
      border: 1px solid #f2f2f2;
      border-bottom: 0;
      border-radius: 5px 5px 0 0;
      background-color: #fafafa;

      .list {
        &__gap {
          display: flex;
          justify-content: center;
          align-items: center;
          background: repeating-linear-gradient(45deg, #fafafa, #fafafa 20px, #ededed 22px, #ededed 0);

          p {
            margin: 0;
          }
        }
      }
    }
  }
}
