<div class="stack">
  <ul class="time">
    <li>
      8:00
    </li>
    <li>
      9:00
    </li>
    <li>
      10:00
    </li>
    <li>
      11:00
    </li>
    <li>
      12:00
    </li>
    <li>
      13:00
    </li>
    <li>
      14:00
    </li>
    <li>
      15:00
    </li>
    <li>
      16:00
    </li>
  </ul>
  <div class="container">
    <header class="header">
      <span class="header__heading">Monday</span>
      <span class="header__heading header__heading_grey">17.12.2020</span>
    </header>
    <ul class="list">
      <li class="list__item">
        <div class="info">
          <h3 class="info__title">Structuri de Date si Algoritmi</h3>
          <p class="info__author">M. Ionescu</p>
          <div class="info__tags">
            <span>type</span> <span>classroom</span>
          </div>
        </div>
        <div class="attachments">
          <img class="attachments__icon" src="https://image.flaticon.com/icons/png/512/351/351485.png" alt="">
        </div>
      </li>
      <li class="list__gap">
        <p>1.5H GAP</p>
      </li>
      <li class="list__item">
        <div class="info">
          <h2 class="info__title">Structuri de Date si Algoritmi</h2>
          <p class="info__author">M. Ionescu</p>
          <div class="info__tags">
            <span>type</span> <span>classroom</span>
          </div>
        </div>
        <div class="attachments">
          <img class="attachments__icon" src="https://image.flaticon.com/icons/png/512/351/351485.png" alt="">
        </div>
      </li>
      <li class="list__item">
        <div class="info">
          <h2 class="info__title">Structuri de Date si Algoritmi</h2>
          <p class="info__author">M. Ionescu</p>
          <div class="info__tags">
            <span>type</span> <span>classroom</span>
          </div>
        </div>
        <div class="attachments">
          <img class="attachments__icon" src="https://image.flaticon.com/icons/png/512/351/351485.png" alt="">
        </div>
      </li>
    </ul>
  </div>
</div>
