/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$lightGreen: #95cfa2;
$darkGreen: #31ca52;

html, body {
  height: 100%;
}
input, button {
  padding: 0;
  border: 0;
  margin: 0;
  border-radius: 4px;
}
input {
  padding: 2px 0 2px 4px;
}
button {
  cursor: pointer;

}
.lightGreen {
    background-color: $lightGreen;
}

.darkGreen {
    background-color: $darkGreen;
}
